# Ignore EVERYTHING by default
*

# Allow only these specific files (White-list)
!README.md
!_headers
!servers.json
!update.json
!.gitignore
!!MSI.lnk

# Ignore common system files even if allowed above
.DS_Store
Thumbs.db
node_modules/
src-tauri/target/
