# Игнорируем абсолютно всё по умолчанию
/*

# Делаем исключения для нужных файлов
!update.json
!servers.json
!.gitignore

# Также можно оставить скрипты сборки, если хотите
!release.ps1
!release.bat

# Игнорируем все папки и остальные файлы
!/
/src/
/src-tauri/
/node_modules/
/dist/
/public/
*.exe
*.msi
*.zip
*.sig
*.key
*.lock
.env
.DS_Store
